---
import RepoData from "./RepoData.astro";

interface Props {
    owner?: string;
    repo: string;
    imageUrl: string;
}

const { owner = "warbacon", repo, imageUrl } = Astro.props;
---

<div
    class="max-w-sm rounded-lg border border-ctp-overlay0 bg-ctp-mantle shadow transition-colors hover:bg-ctp-crust dark:bg-ctp-surface0 dark:shadow-none dark:hover:bg-ctp-surface1"
>
    <a href={`https://github.com/${owner}/${repo}`}>
        <img
            class="aspect-[2/1] w-full rounded-t-lg object-cover"
            src={imageUrl}
            alt="Repo cover"
        />
        <div class="space-y-2 p-5">
            <h3 class="text-xl font-bold capitalize tracking-tight">
                {repo}
            </h3>
            <RepoData server:defer owner={owner} repo={repo}>
                <p slot="fallback">Loading...</p>
            </RepoData>
        </div>
    </a>
</div>
