---
import { GITHUB_TOKEN } from "astro:env/server";

interface Props {
    owner: string;
    repo: string;
}

const { owner, repo } = Astro.props;

const request = new Request(`https://api.github.com/repos/${owner}/${repo}`, {
    method: "GET",
    headers: {
        Accept: "application/vnd.github+json",
        Authorization: `Bearer ${GITHUB_TOKEN}`,
        "X-GitHub-Api-Version": "2022-11-28",
    },
});

const response = await fetch(request);
const data = await response.json();
---

<p class="mb-3 text-ctp-subtext0">
    {data.description}
</p>
<p class="flex gap-1 font-bold text-ctp-yellow">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"
        ><path
            d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"
        ></path></svg
    >
    {data.stargazers_count}
</p>
